In [16]:
# from __future__ import print_function, division
# from builtins import range
# Note: you may need to update your version of future
# sudo pip install -U future


import numpy as np
import pandas as pd
import os

# so scripts from other folders can import this file
# dir_path = os.path.abspath(os.path.dirname(os.path.realpath(__file__)))

dir_path = os.path.abspath(os.path.dirname(os.path.realpath("/home/rve2/Desktop/LazyP_machine_learning_examples-master/ann_logistic_extra/process.py")))

In [17]:
dir_path

'/home/rve2/Desktop/LazyP_machine_learning_examples-master/ann_logistic_extra'

In [8]:
# normalize numerical columns
# one-hot categorical columns

def get_data():
  df = pd.read_csv(dir_path + '/ecommerce_data.csv')

  # just in case you're curious what's in it
  # df.head()

  # easier to work with numpy array
  data = df.values

  # shuffle it
  np.random.shuffle(data)

  # split features and labels
  X = data[:,:-1]
  Y = data[:,-1].astype(np.int32)

  # one-hot encode the categorical data
  # create a new matrix X2 with the correct number of columns
  N, D = X.shape
  X2 = np.zeros((N, D+3))
  X2[:,0:(D-1)] = X[:,0:(D-1)] # non-categorical

  # one-hot
  for n in range(N):
      t = int(X[n,D-1])
      X2[n,t+D-1] = 1

  # method 2
  # Z = np.zeros((N, 4))
  # Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1
  # # assign: X2[:,-4:] = Z
  # assert(np.abs(X2[:,-4:] - Z).sum() < 1e-10)

  # assign X2 back to X, since we don't need original anymore
  X = X2

  # split train and test
  Xtrain = X[:-100]
  Ytrain = Y[:-100]
  Xtest = X[-100:]
  Ytest = Y[-100:]

  # normalize columns 1 and 2
  for i in (1, 2):
    m = Xtrain[:,i].mean()
    s = Xtrain[:,i].std()
    Xtrain[:,i] = (Xtrain[:,i] - m) / s  # Note that we are using m & s from train !!!
    Xtest[:,i] = (Xtest[:,i] - m) / s

  return Xtrain, Ytrain, Xtest, Ytest

In [9]:
def get_binary_data():
  # return only the data from the first 2 classes
  Xtrain, Ytrain, Xtest, Ytest = get_data()
  X2train = Xtrain[Ytrain <= 1]
  Y2train = Ytrain[Ytrain <= 1]
  X2test = Xtest[Ytest <= 1]
  Y2test = Ytest[Ytest <= 1]
  return X2train, Y2train, X2test, Y2test

############ end of code ############

In [11]:
# testing

In [28]:
# normalize numerical columns
# one-hot categorical columns

df = pd.read_csv(dir_path + '/ecommerce_data.csv')

# just in case you're curious what's in it
# df.head()

# easier to work with numpy array
data = df.values

# shuffle it
np.random.shuffle(data)

# split features and labels
X = data[:,:-1]
Y = data[:,-1].astype(np.int32)

In [31]:
data[:3]

array([[0.        , 2.        , 1.2790592 , 0.        , 2.        ,
        1.        ],
       [1.        , 0.        , 1.45612014, 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.5078576 , 0.        , 0.        ,
        0.        ]])

In [29]:
X[:3]

array([[0.        , 2.        , 1.2790592 , 0.        , 2.        ],
       [1.        , 0.        , 1.45612014, 0.        , 1.        ],
       [0.        , 0.        , 0.5078576 , 0.        , 0.        ]])

In [39]:
# one-hot encode the categorical data
# create a new matrix X2 with the correct number of columns
N, D = X.shape
X2 = np.zeros((N, D+3))
X2[:3]

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [40]:
X2[:,0:(D-1)] = X[:,0:(D-1)] # non-categorical

In [41]:
# one-hot
for n in range(N):
  t = int(X[n,D-1])    # just getting the value in the last column of X, row by row
  X2[n,D-1+t] = 1

In [46]:
X[0, 4]

2.0

In [45]:
X2[:3, D-1:]

array([[0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.]])

In [47]:
# method 2
Z = np.zeros((N, 4))
Z[:3]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [50]:
Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1
# assign: X2[:,-4:] = Z

In [63]:
assert(np.abs(X2[:,-4:] - Z).sum() == 0)

In [53]:
np.abs(X2[:,-4:] - Z).sum(axis = 0)

array([0., 0., 0., 0.])

In [56]:
np.abs(X2[:,-4:] - Z).shape

(500, 4)

In [57]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [60]:
np.arange(9).reshape(3,3).sum(axis = 0)

array([ 9, 12, 15])

In [48]:
np.arange(N)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499])

In [49]:
X[:,D-1].astype(np.int32)

array([2, 1, 0, 3, 2, 1, 3, 0, 1, 3, 3, 1, 0, 3, 1, 3, 1, 1, 3, 2, 2, 1,
       0, 0, 0, 1, 3, 3, 3, 0, 3, 2, 1, 1, 0, 1, 1, 0, 2, 2, 0, 3, 2, 0,
       2, 2, 1, 3, 2, 1, 3, 2, 3, 0, 2, 2, 2, 1, 3, 3, 1, 0, 0, 1, 2, 1,
       3, 2, 1, 3, 0, 3, 1, 1, 2, 2, 1, 2, 3, 2, 3, 1, 1, 3, 0, 3, 3, 2,
       1, 2, 2, 2, 2, 3, 2, 3, 3, 2, 1, 0, 1, 2, 2, 1, 3, 0, 3, 3, 2, 3,
       0, 2, 3, 3, 1, 0, 2, 1, 2, 0, 0, 3, 0, 0, 3, 2, 2, 2, 3, 1, 2, 3,
       3, 3, 3, 0, 0, 0, 3, 0, 3, 0, 1, 0, 3, 3, 1, 0, 1, 0, 0, 3, 0, 1,
       0, 1, 1, 3, 3, 0, 0, 2, 0, 3, 2, 2, 2, 0, 1, 2, 1, 0, 0, 0, 0, 0,
       1, 3, 3, 1, 2, 3, 2, 2, 2, 3, 1, 1, 2, 1, 1, 0, 2, 2, 0, 3, 0, 3,
       2, 1, 2, 0, 3, 1, 2, 2, 2, 1, 3, 3, 1, 0, 1, 2, 2, 1, 3, 0, 0, 1,
       0, 3, 2, 3, 1, 1, 3, 1, 3, 3, 0, 1, 2, 3, 1, 2, 3, 1, 0, 2, 3, 0,
       1, 3, 2, 3, 3, 0, 3, 0, 3, 2, 2, 2, 1, 3, 0, 3, 3, 2, 3, 1, 1, 3,
       0, 0, 0, 2, 3, 2, 1, 0, 0, 1, 3, 3, 2, 2, 3, 2, 0, 0, 0, 1, 3, 1,
       3, 3, 2, 0, 1, 3, 3, 1, 0, 1, 3, 2, 0, 3, 3, 2, 2, 2, 3, 1, 3, 0,
       0, 3, 1, 0, 2, 2, 1, 2, 1, 2, 1, 3, 3, 0, 1, 1, 2, 1, 2, 1, 2, 3,
       1, 0, 3, 2, 0, 2, 3, 2, 0, 3, 2, 1, 3, 0, 2, 2, 2, 2, 0, 3, 3, 1,
       2, 1, 3, 0, 3, 2, 1, 3, 1, 2, 1, 0, 0, 1, 2, 1, 3, 0, 3, 3, 3, 0,
       1, 0, 0, 2, 2, 0, 0, 0, 2, 0, 2, 2, 1, 1, 3, 0, 0, 3, 3, 1, 2, 1,
       2, 0, 0, 0, 3, 1, 1, 1, 3, 2, 3, 2, 1, 1, 2, 2, 2, 0, 3, 0, 3, 2,
       3, 2, 1, 1, 3, 3, 1, 3, 1, 0, 3, 1, 1, 2, 3, 3, 3, 2, 3, 2, 1, 2,
       0, 0, 0, 2, 0, 2, 3, 2, 3, 2, 2, 3, 0, 3, 1, 3, 2, 2, 1, 1, 2, 2,
       3, 0, 2, 0, 2, 0, 0, 3, 2, 1, 3, 1, 0, 1, 3, 1, 0, 1, 3, 1, 3, 1,
       3, 0, 3, 1, 2, 1, 1, 3, 1, 0, 1, 2, 0, 0, 0, 3], dtype=int32)

In [ ]:
# normalize numerical columns
# one-hot categorical columns


df = pd.read_csv(dir_path + '/ecommerce_data.csv')

# just in case you're curious what's in it
# df.head()

# easier to work with numpy array
data = df.values

# shuffle it
np.random.shuffle(data)

# split features and labels
X = data[:,:-1]
Y = data[:,-1].astype(np.int32)

# one-hot encode the categorical data
# create a new matrix X2 with the correct number of columns
N, D = X.shape
X2 = np.zeros((N, D+3))
X2[:,0:(D-1)] = X[:,0:(D-1)] # non-categorical

# one-hot
for n in range(N):
  t = int(X[n,D-1])
  X2[n,t+D-1] = 1

# method 2
# Z = np.zeros((N, 4))
# Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1
# # assign: X2[:,-4:] = Z
# assert(np.abs(X2[:,-4:] - Z).sum() < 1e-10)

# assign X2 back to X, since we don't need original anymore
X = X2

# split train and test
Xtrain = X[:-100]
Ytrain = Y[:-100]
Xtest = X[-100:]
Ytest = Y[-100:]

# normalize columns 1 and 2
for i in (1, 2):
m = Xtrain[:,i].mean()
s = Xtrain[:,i].std()
Xtrain[:,i] = (Xtrain[:,i] - m) / s
Xtest[:,i] = (Xtest[:,i] - m) / s

return Xtrain, Ytrain, Xtest, Ytest

In [64]:
X[:3]

array([[0.        , 2.        , 1.2790592 , 0.        , 2.        ],
       [1.        , 0.        , 1.45612014, 0.        , 1.        ],
       [0.        , 0.        , 0.5078576 , 0.        , 0.        ]])

In [65]:
df.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2